.array-container{
    border-radius: 8px;
    width: 80vw;
    height: 460px;
    padding: 20px 40px 0 40px ;
    background: linear-gradient(#4831d4,#7665df);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    position: relative;
}

.array-bar{
    width: 4px;
    background-color: #ccf381;
    display: inline-block;
    margin: 0 0.5px;
}