.side-text{
position: absolute;
top: 350px;
left: -180px;
margin: 0;
transform: rotate(270deg);
font-size: 6rem;
color: #f2feaf;
text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.15);
}

.mark{
    color: crimson;
}